/*
 * Unishop | Universal E-Commerce Template
 * Copyright 2019 rokaux
 * Theme Styles
 */

/* Import Google Fonts (Maven Pro) */
@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900');

/* Helpers: Variables, Mixins and Placeholders */
@import 'helpers/variables';
@import 'helpers/mixins';
@import 'helpers/placeholders';

/* Base */
@import 'base/scaffolding.scss';
@import 'base/utilities.scss';

/* Components */
@import 'components/typography';
@import 'components/forms';
@import 'components/tables';
@import 'components/buttons';
@import 'components/social-buttons';
@import 'components/navs';
@import 'components/card';
@import 'components/accordion';
@import 'components/pagination';
@import 'components/comments';
@import 'components/tooltips';
@import 'components/dropdown';
@import 'components/list-group';
@import 'components/alert';
@import 'components/modal';
@import 'components/progress';
@import 'components/carousel';
@import 'components/gallery';
@import 'components/countdown';
@import 'components/spinners';
@import 'components/widgets';
@import 'components/steps';
@import 'components/banners';


/* Layout */
@import 'layout/section';
@import 'layout/grid';
@import 'layout/header';
@import 'layout/page-title';
@import 'layout/offcanvas-menu';
@import 'layout/footer';

/* Modules */
@import 'modules/account';
@import 'modules/shop';
@import 'modules/blog';

/* Credit card */
@import 'react-credit-cards/lib/styles.scss';